<%= stylesheet_link_tag 'changelog_notes.css', :plugin => 'changelog_notes', :media => 'all' %>
<%= javascript_include_tag 'changelog_notes.js', :plugin => 'changelog_notes' %>
<h2>Changelog Notes</h2>
<br>
<h3>Project and Version</h3>
<table class="product_version">
  <tr>
    <td class="product">Product: <%= text_field_tag 'product', @project, readonly: 'readonly' %></td>
    <td class="version">Version:
      <%= select_tag(:version_id, options_for_select(@natural_sorted_versions, params[:id]), :include_blank => true, :onchange => 'redirectVersion()') %>
    </td>
  </tr>
</table>
<%= form_tag("/redmine/changelog_notes?project_id=#{params[:project_id]}&id=#{@version_selected_combo}", method: :post, remote: true) do %>
<% if @issues.length > 0 %>
<h3>Changelog</h3>
<br>
<table class="changelog">
  <col width="3%" />
  <col width="10%" />
  <col width="8%" />
  <col width="9%" />
  <col width="70%" />
  <thead>
  <tr>
    <th class="checkbox">
      <%= check_box('check_uncheck_all', 'value', {:onclick => 'check_uncheck_all(this);', :title => 'Include/exclude all the changelog notes'}, 'yes', 'no') %>
    </th>
    <th title="Sort by Tracker" class="tracker">
      <a href="/redmine/public/changelog_notes?project_id=<%=params[:project_id]%>&id=<%=@version_selected_combo%>&sort=tracker%2Cid%3Adesc">Tracker</a>
    </th>
    <th title="Sort by Issue ID" class="issue">
      <a href="/redmine/public/changelog_notes?project_id=<%=params[:project_id]%>&id=<%=@version_selected_combo%>&sort=id" class="sort desc">Issue ID</a>
    </th>
    <th title="Status" class="status">Status</th>
    <th title="Changelog Description" class="description">Changelog Note Description</th>
  </tr>
  </thead>
    <% @issues.each_with_index do |issue, index| %>
      <tr>
        <td class="checkbox">
          <%= check_box('issues_check_box', issue.to_s.split(' ').at(1)[1..-2],
                        {:checked => @issues_have_changelog_notes[index],
                         :title => 'Include/exclude the changelog note from the issue'}, '1', '0') %>
        </td>
        <td class="tracker"><%= issue.to_s.split(' ').at(0) %></td>
        <td class="issue">
          <a href="<%= 'issues/' + issue.to_s.split(' ').at(1)[1..-2] %>" onclick="return !window.open(this.href());">
          <%= text_field_tag('issue_id[]', issue.to_s.split(' ').at(1)[1..-2], type: 'url', readonly: 'readonly') %>
          </a>
        </td>
        <td class="status"><%= @issues_status[index]  %></td>
        <td class="description"><%= text_area 'issues_changelog_notes_descriptions',
                                              issue.to_s.split(' ').at(1)[1..-2],
                                              {:value => @issues_changelog_notes_descriptions[index],
                                               :required => 'required',
                                               :title => @issues_changelog_notes_descriptions[index]} %>
        </td>
      </tr>
</table>
<br>
<table class="save_changelog_notes">
  <tr>
    <td class="save_changes"><%= submit_tag('Save changes', :title => 'Saves all changes made on the changelog notes') %></td>
    <td class="save_pdf"><%= submit_tag(nil, name: 'pdf', class: 'changelog_notes', value: 'Save to PDF', title: 'Save Changelog to PDF') %></td>
  </tr>
</table>
<% end %>
<% end %>
<% end %>